rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /conversations/{conversationId} {

      // User must be logged in
      allow create: if request.auth != null
                    && request.resource.data.userID == request.auth.uid;

      // Read only your own documents
      allow read: if request.auth != null
                  && resource.data.userID == request.auth.uid;

      // Update/Delete only your own documents
      allow update, delete: if request.auth != null
                             && resource.data.userID == request.auth.uid;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}